<a href="https://colab.research.google.com/github/Anshukumar16/python_basics/blob/main/lecture1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>





#declaration of variables

In [ ]:
a=10
print("The value of a is",a)

The value of a is 10

1. Multiple assignment in a variable

In [ ]:
a,b=10,20
print(a,b)

10 20

2.Multiple assignment with same values

In [ ]:
a=b=c=100
print (a,b,c)

100 100 100

3.Rules for naming variables

1.   Variable names can only contain letters,digits and _.
2.   A variable name cannot start with a digit.
3.   Variable names are case sensitive(Ex myVar and myvar are different)
4.   Avoid using python keywords such as if,else,for,class.

In [ ]:
a=10
class=10
user_name="Anshu"
1_name="Error"
print(class,a,user-name,1_name)

SyntaxError: invalid decimal literal (ipython-input-2145213485.py, line 4)

**TypeCasting**

Q.Hulk strength level is recorded as a string input 1000 convert into an integer and increase it by 200.

In [ ]:
Hulk_strength="1000"
Hulk_int_strength=int(Hulk_strength)
Hulk_new_strength=Hulk_int_strength+200
print(Hulk_new_strength)

1200

Q2. Thors hammer mass is 5000(int),but you need to calculate the gravitational force ,which require it as float.

In [ ]:
Hammer=5000
Hammer_float=float(Hammer)
Gravitation=Hammer_float/9.8
print(Gravitation)

510.204081632653

Q4. Loki gets input in seconds (as string):"3600".Convert it into an integer and then to hours.Show final results as a float

In [ ]:
String="3600"
String_int=int(String)
Hours=String_int/3600
print(Hours)

1.0

Q5. Iron man recorded 7 hits out of 10 shots (both integers).Convert them into float and calculate accuracy percentage.

In [ ]:
 hits=7
 shot=10
 Hit=float(hits)
 Shot=float(shot)
 Accuracy=Hit*100/Shot
 print(Accuracy)

70.0

#lecture 2

#String Datatype



1.  Array of bytes representing unicode characters.
2.  No separate character data type; a character is a string of length one.
3. String can be created using ' ', " ", or """ """.
4. Access individual character using indexing, starting at 0.
5. Strings are immutable.
6. str()

In [ ]:
s1="This is a string"
print(s1)
len(s1)

This is a string

16

In [ ]:
s2="This"+"is"+"also"+"a"+"string."
print(s2)
len(s2)

Thisisalsoastring.

18

In [ ]:
s3="this is a string \
written in multiple line"
print(s3)

this is a string written in multiple line

In [ ]:
#we can multiply string with an integer to get a repeatitive effect

Iron_man="Smash It !!\n"
print(Iron_man*5)

Smash It !!
Smash It !!
Smash It !!
Smash It !!
Smash It !!

In [ ]:
Iron_Man="hello "+'this '+"is "+" me"
print(Iron_Man)

hello this is  me

In [ ]:
Avenger="Spiderman"
length_avg=len(Avenger)
first_ch=Avenger[0]
print("the first character is:",Avenger[0])
#IN PYTHON -0 AND 0 ARE SAME
print("the first character is:",Avenger[-0])

the first character is: S
the first character is: S

In [ ]:
#Negative indexing

last_ch=Avenger[-2]
print(last_ch)

a

In [ ]:
# Slicing

slicing=Avenger[1:5]
print(slicing)


slicing=Avenger[ :6]
print(slicing)

#step slicing (skips one step)
slicing=Avenger[1:4:2]
print(slicing)

pide
Spider
pd

In [ ]:
# Positive indexing does not exist for negative indexing
slicing=Avenger[1:4:-2]
print(slicing)

NameError: name 'Avenger' is not defined

In [ ]:
#Reverse skip slicing Spiderman
slicing=Avenger[::-2]
print(slicing)

#reverse slicing
slicing=Avenger[::-1]
print(slicing)
slicing=Avenger[-1:-4:-2]
print(slicing)

nmeiS
namredipS
nm

In [ ]:
#For loop

for ch in Avenger:
  print(ch)

S
p
i
d
e
r
m
a
n

In [ ]:
#printing index
for i in range(len(Avenger)):
  print(i,Avenger[i])

0 S
1 p
2 i
3 d
4 e
5 r
6 m
7 a
8 n

In [ ]:
#reversing string using for loop
for i in range(len(Avenger)):
  print(len(Avenger)-i-1,Avenger[len(Avenger)-i-1])

8 n
7 a
6 m
5 r
4 e
3 d
2 i
1 p
0 S

Q.)Write a python program to check if the string is pallindrome or not

In [ ]:
l="abccba"
if l==l[::-1]:
  print("Pallindrome")

else:
  print("Not pallindrome")

Pallindrome

#lecture 3

Unicode

1.In early 1960s a standard was published called american standard code for information interchange(ASCII) it specifies the mapping of binary values to characters . It uses 7 bit to represent the characters(0-127) range a(97) to z(122) and A(65) to Z(90)

2.The ASCII character sets is limited in that it cannot handle characters from other language therefore unicode standards are proposed pythin 3 uses unicode by default (UTF-8) it defines more thanone lakh characters the prefix used to print the character  pie in example given

In [ ]:
print("\u03c0")

Ï€

Escape characters

\t is used for horizontal tab.(7)
\a is alert,beep.(8)
\b backspace.(9)
\n newline(10)
\v vertical line.(11)
\f newpage.(12)
\r carriage return(13)
\0 NULL or String terminator(14)

In [ ]:
print("spiderman\nCaptain america")
print("Hulk\tThor")

spiderman
Captain america
Hulk	Thor

In [ ]:
print("Black widow\'s Mission")

Black widow's Mission

Printing path in python

In [ ]:
print("c:\\cpp programs")

c:\cpp programs

In [ ]:
print("Smash\a") #it will trigger a beep sound on supported terminal

Smash

In [ ]:
print("Hello\b")

Hello

In [ ]:
print("book\f")
print("Hahaha\vha")

book
Hahahaha

.lower() and .upper() is used to lower or capitalize the character in a given string these methods can be used for normalization to ensure the consistency for embedding in NLP

In [ ]:
X="AnShU"
print(X.lower())
print(X.upper())
print(X.capitalize())
print(X.title())

anshu
ANSHU
Anshu
Anshu

**Strip method**

In [ ]:
x="@Anshu Kumar&"
print(x.strip("@,&"))
print(x.replace(" ",""))

Anshu Kumar
@AnshuKumar&



*  The strip method in python is designed to remove leading and trailing whitespaces characters or specific character from thr string It does not remove the space while occur in middle of string.
The alternative method to remove the middle whitespace is replace (The value to be replaced,the value you want to replace with).


*The applications are

1.  Cleaning of data.
2.  You can replace null value with any character.
3.  Correcting the text for ex-typos,slang.

#split method
1.)Split a sentence "This movie is amazing".
2. Split/join method is used for tokenization the method involves splitting the string into a list of words as a spaces as a delimeter .this delimeter automatically handles multiple spaces between words.
join method back the word together without spaces.

In [ ]:
a="This movie is amazing . This was my first movie . But the theater was bad ."
words=a.split()
print(words)

print("".join(words))

['This', 'movie', 'is', 'amazing', '.', 'This', 'was', 'my', 'first', 'movie', '.', 'But', 'the', 'theater', 'was', 'bad', '.']
Thismovieisamazing.Thiswasmyfirstmovie.Butthetheaterwasbad.

**Lecture 4**

In [ ]:
txt="This is a python python class"
print(txt.find("python"))
print(txt.find("python1"))
print(txt.count("python"))
print(txt.find("python",9,25))
print(txt.index("python"))
print(txt.index("python1"))

10
-1
2
10
10

ValueError: substring not found

In [ ]:
#Is digit function
x="5800"
print(x.isdigit())

True

In [ ]:
x="\u00B2"
print(x.isdigit()) #\u->Unicode

True

In [ ]:
txt="This is a python python class"
print(txt.startswith("is",4,12))
print(txt.endswith("class"))

#check weather the string ends with class or python.

print(txt.endswith(("class","python")))

False
True
True

In [ ]:
Avenger="IRONMAN,THOR,HULK"
print("THOR" in Avenger)
print("SPIDERMAN" not in Avenger)
if "THOR" in Avenger:
   print("Thor is here")

if "IRONMAN" not in Avenger:
   print("IRONMAN not here")

True
True
Thor is here

Loki tried to trick avenger check if loki is in it .
if yes enemy detected.

In [ ]:
Enemy="Ultron,Loki,Thanos"

if "Loki" in Enemy:
  print("Enemy detected")

else:
  print("not detected")

Enemy detected

we define the uses of capitals in a word to be right when one of the following cases hold

1. All letters in this word are capital like USA
2. All letters in the word are not capital like leetcode
3. only the forst letter is capital

given a string word return true if the uses of capital init is right

In [ ]:
word="FLAG"
cpy=word

if word==cpy.capitalize():
  print("TRUE")

elif word==cpy.lower():
  print("TRUE")

elif word==cpy.upper():
  print("TRUE")

else:
  print("False")

TRUE

In [ ]:
word=["How","are","you"]
#print(word.strip(""))

for i in word:
  print(i.strip(" "))

How
are
you

# Lecture 5

# **Boolean**

In [ ]:
print(type(True))

print(type(False))

print(10>9 and 10>8)

print(10<9 or 10>8)

print(not 10>8)

print(bool([]))
print(bool(""))

<class 'bool'>
<class 'bool'>
True
True
False
False
True

In [ ]:
mark =[65,70,80]

print(all(m>=40 for m in mark)) #for all condition m>=40  must satisfy
print(any(m>=70 for m in mark)) #for any one satisfying condition m>=70

True
True

In [ ]:
a,b = True,False

print(a^b)
print(a^a)

True
False

In [ ]:
#swap two numbers using xor
a,b = 10,20
a=a^b
print(a)
b=b^a # here b=b^(a^b) which is a
print(b)
a=a^b # here a=a^(b^a) which is b
print(a,b)

30
10
20 10

In [ ]:
print(10>9>8)

print(10<9>8)

True
False

In [ ]:
n=21
print((n%3==0)^(n%7==0))

False

In [ ]:
a=[1,2]
b=[1,2]
print(a==b)
print(a is b)
a=100
b=100
print(a is b)
s1="hello"
s2="hello"
print(s1 is s2)

True
False
True
True

#NOTE

*  Is check the identity where as == checks equality of values(content)
*   Both a and b are lists with same elements with 1,2 so python prints true.
*   when you write a=[1,2] and b=[1,2] python creates two different lists in memory,therefore output is false.

**Important note**

*  if yoy use small integer or string sometimes a is b can be true because of python interning(optimisation for performance)

*  In case of list dictionary sets python always creates a new object unless you explicitly assign

#Homework



1.   How can all() and any() make code shorter compared to multiple conditions
2.   Write 5 boolean conditions using all or any from college life.





*  Instead of repeating variables, you loop over them in a tuple/list.
*  Adding or removing conditions just means adding/removing items in the tuple, not rewriting the if statement.

# Lecture 6

In [ ]:
a=10
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(-10//3)

12
8
20
5.0
5
-4

Float division round down towards 0.python always follows mathematical floor division,not truncate.In case of c/c++.The output truncate towards 0



1.  Code optimization
2.  Inplace updation
3.

In [ ]:
a=15
b=5

a+=b
print(a)

a-=b
print(a)

a*=b
print(a)

a/=b
print(a)

a//=b
print(a)

a%=b
print(a)

a**=b
print(a)

a=int(a)
a&=b
print(a)

a|=b
print(a)

a^=b
print(a)

a>>=b
print(a)

a<<=b
print(a)

20
15
75
15.0
3.0
3.0
243.0
1
5
0
0
0

In [ ]:
print(10==10.0)
print("10"==10)

True
False

In [ ]:
print(3<4<5)

True



1.   Python emphasizes chain comparison.
2.  Boolean are sub class of integer

In [ ]:
print(True and False)
print(True or False)
print(0 and 5)
print(0 or 5)
print([] and "hi")
print([] or "hi")

False
True
0
5
[]
hi

a and b does not evaluate b if a is false

**Identity operators**

check object identity not value

In [ ]:
a=[1,2,3]
b=[1,2,3]

print(a==b)
print(a is b)


x=256
y=256
print(x is y)

True
False
True

In [ ]:
x=257
y=257

print(x==y)
print(x is y)  #In python -5 to 256 the value is true and above it is false as for these same memory is stored

True
False

In [ ]:
print("NANA" in "BANANA")

True

In [ ]:
print(~(-5))
print(5 and 3)
print(5 or 3)
print(5 ^ 3)
print(5 << 1)

4
3
5
6
10

In [ ]:
a=[2,7,11,15]
tgt=9
for i in a:
   if (tgt-i) in a:
       print(i)

2
7

In [ ]:
a=[2,7,11,15]
tgt=9

# Lecture - 7

In [ ]:
#List data types
infinity_stones = ["space","power","reality","soul","time","mind"]

print(infinity_stones[0])

print(infinity_stones[-1])

# infinity_stones[0]="multiversal stone"
print(infinity_stones[0])

if "space" in infinity_stones:
    print("Found")

space
mind
space
Found

In [ ]:
Lokis =["Loki","2000",True]
print(type(Lokis[2]))
print(len(Lokis))

<class 'bool'>
3

In [ ]:
Guardians =list(("Groot","Drax","Rocket","Gamora"))

Guardians.append("Star lord")# Appends the element in last of list
print(Guardians[0])
print(Guardians[-1])

Guardians.insert(0,"Mantis")# Appends the element at given index of list
print(Guardians[0])

Lokis =["Loki","2000",True]
Guardians.extend(Lokis)

tupple=("Ant-man","Captain") #Non mutable
Guardians.extend(tupple)

print(Guardians)

Groot
Star lord
Mantis
['Mantis', 'Groot', 'Drax', 'Rocket', 'Gamora', 'Star lord', 'Loki', '2000', True, 'Ant-man', 'Captain']

In [ ]:
fruits = ["Banana","orange","Apple"]

fruits.insert(0,"Cherry")
print(fruits[0])

fruits.remove("Cherry")
print(fruits[0])

fruits.pop(1)
print(fruits)

fruits.pop() # deletes last element

del fruits[0] # delets overall space

# Del is faster than Remove as del requires index and remove requires to search the content


Guardians =list(("Groot","Drax","Rocket","Gamora"))


# Guardians.remove([1:3]) =>Not possible

del Guardians[1:3]
print(Guardians)


Guardians.clear() # clears all the contents in list not the list.
print(Guardians)

Cherry
Banana
['Banana', 'Apple']
['Groot', 'Gamora']
[]

In [ ]:
list =["Groot","Drax","Rocket","Gamora"]

for i in list:
  print(i)

list.clear()
list.append("Waybig")
list.append("AlienX")
print(list)


for x in range(len(list)) :
  print(x,list[x])

Groot
Drax
Rocket
Gamora
['Waybig', 'AlienX']
0 Waybig
1 AlienX

In [ ]:
i=0
while i<len(list):
  print(list)
  i=i+1

['Waybig']

In [ ]:
fruits = ["Banana","orange","Apple"]

print([x for x in fruits])

['Banana', 'orange', 'Apple']

# Lecture-8

In [ ]:
hero =['ironman','spiderman','hulk']
i=0
while i<len(hero):
  print(hero[i])
  i+=1

print([i for i in hero])

ironman
spiderman
hulk
['ironman', 'spiderman', 'hulk']

Q.You need to filter out the name of avenger that contains america substring.

In [ ]:
hero =['ironman','spiderman','hulk','captain America']

new_list=[i for i in hero if "America" in i]
print(new_list)

['captain America']

Replace hulk with calm guy

In [ ]:
hero =['ironman','spiderman','hulk','captain America']
#NOT WORKING CODES
#new_list=[i for i in hero if 'hulk' in i i.replace('hulk','calm-guy')]

# for i in hero:
#   if i=='hulk':
#     i='calm guy'


new_list=['calm-guy' if i=='hulk' else i for i in hero]

new =[x if x!='hulk' else 'calm-guy' for x in hero]



print([i for i in hero])

['ironman', 'spiderman', 'hulk', 'captain America']

Make the characters in the list to the uppercase

In [ ]:
hero =['ironman','spiderman','hulk','captain America']

for i in hero:
  print(i.upper())

print([i.upper() for i in hero])

IRONMAN
SPIDERMAN
HULK
CAPTAIN AMERICA
['IRONMAN', 'SPIDERMAN', 'HULK', 'CAPTAIN AMERICA']

In [ ]:
hero =['ironman','spiderman','hulk','captain America']
print([x for x in range(len(hero))])

[0, 1, 2, 3]

In [ ]:
# create a list that only contains prime numbers

print([x for x in range(2,100) if all(x%y!=0 for y in range(2,x))])

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

Create a list that contains all the gp series in 2

In [ ]:
print([(2**x) for x in range(10) ])

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

# Lecture 9

In [ ]:
 Stones =["Space","Time","Mind","Power","Reality"]
 Stones.sort()
 print(Stones)
 Stones.sort(reverse=True)
 print(Stones)
 Stones.sort(key=str.lower)
 print(Stones)

['Mind', 'Power', 'Reality', 'Space', 'Time']
['Time', 'Space', 'Reality', 'Power', 'Mind']
['Mind', 'Power', 'Reality', 'Space', 'Time']

In [ ]:
s = "programming"
for char in s:
    if s.count(char) == 1:
        print(f"The first non-repeating character is: {char}")
        break
else:
    print("No non-repeating character found.")

s = "aabbcc"
for char in s:
    if s.count(char) == 1:
        print("The first non-repeating character is: {char}")
        break
else:
    print("No non-repeating character found.")

The first non-repeating character is: p
No non-repeating character found.

# Lecture 10

In [ ]:
arr=map(int,input("Enter Numbers").split())
print(list(arr))

Enter Numbers3 4 5
[3, 4, 5]

In [ ]:
no=input("Enter Numbers").split()
print(list(no))

KeyboardInterrupt: Interrupted by user

In [ ]:
car = ["Audi","BMW","Ferrari","Tesla"]
color=["White","Black"]

for i in car:
  for j in color:
    print(j,i)

White Audi
Black Audi
White BMW
Black BMW
White Ferrari
Black Ferrari
White Tesla
Black Tesla

In [ ]:
list1=[1,2,3,4,5]
list1[2:]=[10]

print(list1)

[1, 2, 10]